
@import 'reset.css';

/** VARIABLES **/
@azul: #40CAFC;
@azulclaro: #D6F3FE;

html {
    font-size: 11px;
    background-color: white;
    font-family: "Verdana", sans;
}

a {text-decoration: none; color: @azul;}

/** LAYOUT **/
#central {
    position: absolute;
    width: 1px;
    height: 1px;
    z-index: 24;
    left: 50%;
    top: 50%;
}

#playground {
    position: absolute; margin-left: -500px; margin-top: -260px;
    overflow: hidden;
    width: 1000px;
    height: 520px;
}

#tabs {
    width: 865px; overflow: hidden;
    height: 20px;
    position: absolute; top: 0; left: 0;
}


#wrapper {
    position: absolute; top: 19px; left: 0;
    overflow: auto;
    width: 865px;
    height: 495px;
    z-index: 50;
}

#grid {
    background: transparent url('/images/grid2010.gif') no-repeat;
    width: 1922px; height: 469px;
}

#tags-bar {
    position: absolute; left: 870px; top: 0px; width: 120px; height: 489px;
}

#tags { position: absolute; left: 0px; bottom: 0px;  width: 120px;}

/** TABS **/
#tabs {overflow: hidden; z-index: 100;}
#tabs li {
    float: left; height: 16px; padding: 1px 0 1px 0;
    text-align: center; margin-right: 11px; margin-top: 0;
    border: 1px solid @azul;
}
#tabs li.selected {border-bottom: 1px solid white;}
#nav-actual {width: 47px;}
#nav-seleccion {width: 71px;}
#nav-indice {width: 71px;}
#tabs li#nav-panaderia {float: right; width: 143px; margin-right: 0;}

/** GRID **/
#grid .element {
    position: absolute; overflow: hidden; text-indent: -1000px;
    border: 0; padding: 0; margin: 0;
    cursor: pointer; z-index: 400;
}

#grid .element.caption {
    cursor: pointer;
    z-index: 200;
}

/** TAGS **/
#tags li {display: block; width: 100%; overflow: hidden; margin: 2px 0;}
#tags li .tag {display: block; float: left; width: 90px;}
#tags li label {
    display: block; float: left; width: 10px; height: 10px; cursor: pointer;
    overflow: hidden; text-indent: -1000px; font-size: 0px;
    border: 1px solid gray;}

/** TIME PANEL **/
#time-panel {
    width: 1000px; height: 460px; padding: 10px 10px 0 10px;
    border: 1px solid @azul;
}

#time-panel .line {width: 100%; overflow: hidden; margin-bottom: 10px;}



#time-panel .news {
    float: left; height: 440px; margin-right: 10px;
}
#time-panel .news img {

}


#preview {
    position: absolute;
    background-color: white;
    padding: 2px;
    z-index: 500;
}
.preview {
    z-index: 500;
}

.mini_slide {
    border: 1px solid #40CAFC;
    padding: 4px;
}


.mini_text {
    width: 100px;
    text-align: left;
}

/** ACTUAL **/

.news .text {
    width: 100%; padding: 0 0% 5px 0%; overflow: hidden;
    overflow: hidden;
}

.news .text span {margin: 3px; display: block;}
.news .text span.date {margin-top: 10px; margin-bottom: 10px; height: 1.2em;}
.news .text span.title {margin-bottom: 5px;}
.news .text div.body {color: gray;margin: 3px; }

/** SELECCIÓN **/
#time-panel .selected {
    float: left; height: 220px; margin-right: 10px;
}

#time-panel .selected .image {height: 199px; overflow: hidden; margin-bottom: 3px;}
#time-panel .selected .data {width: 100%; overflow: hidden;}
#time-panel .selected .body {margin-left: 5px;}
#time-panel .selected .date {float: right; margin-right: 5px;}

@import 'jScrollPane.css';

