
@import 'reset.css';

body {
    font-size: 11px;
    background-color: white;
    font-family: "Verdana", sans;
    text-align: center;
}

#info {
    color: gray;
    text-align: left;
    position: absolute;
    top: 248px;
    left: -480px;
}

#info a {
    color: #40CAFC;
}

/** TABS **/
.tabs {
    position: absolute;
    width: 866px;
    height: 126px;
    top: -280px;
    left: -480px;
    border: 1px solid red;
}

#panaderia {
    position: absolute;
    left: 0;
    top: -260px;
    height: 16px;
    width: 384px;
    text-align: right;
    color: #40CAFC;
}

a img {
    border: 0;
}

p {
    margin: 0 0 5px 0;
}

a {
    text-decoration: none;
    color: inherit;
}

#central {
    position: absolute;
    width: 10px;
    height: 10px;
    z-index: 24;
    left: 50%;
    top: 50%;
}

#preview {
    position: absolute;
    background-color: white;
    padding: 2px;
    z-index: 500;
}

.preview {
    z-index: 500;
}

.mini_slide {
    border: 1px solid #40CAFC;
    padding: 4px;
}


.mini_text {
    width: 100px;
    text-align: left;
}


#index {
    position: absolute;
    top: -260px;
    left: -480px;
    width: 47px;
    height: 17px;
    border-bottom: 1px solid #D6F3FE;
    text-align: left;
    background-color: white;
    border-top: 1px solid #40CAFC;
    border-left: 1px solid #40CAFC;
    border-right: 1px solid #40CAFC;
    z-index: 300;
}


div.tab span {
    display: block;
    padding: 1px 9px;
}

div.tab span a {
    color: #40CAFC;
}

#panaderia a {
    color: #40CAFC;
}

.caption {
    position: absolute;
}

.element {
    position: absolute; overflow: hidden; text-indent: -1000px;
    border: 0; padding: 0; margin: 0;
    cursor: pointer; z-index: 400;
}

.caption {
    z-index: 390;
}


#grid  {
    text-align: left;
    position: absolute;
    width: 866px;
    height: 486px;
    top: -242px;
    left: -480px;
    background-color: white;
    z-index: 200;
    overflow: auto;
    scrollbar-base-color: #ffffff;
    scrollbar-face-color: #ffffff;
    scrollbar-track-color: #F2F1F1;
    scrollbar-3dlight-color: #cccccc;
    scrollbar-highlight-color: #ffffff;
    scrollbar-arrow-color: #cccccc;
    scrollbar-shadow-color: #ffffff;
    scrollbar-darkshadow-color: #cccccc;
}

.controls {
    height: 16px;
    width: 96px;
    padding-left: 2px;
}

.controls a {
    color: gray;
}

.highlight a {
    color: #40CAFC;
}



#categories .tag {
    color: gray;
    padding: 1px 2px;
    margin-bottom: 2px;
    height: 13px;
    cursor: pointer;
}

#categories .blockref {
    display: block;
    float: right;
    margin: 2px 2px 0 0;
    width: 10px;
    height: 10px;
}

#categories .selected {
    color: gray;
}

#loading {
    position: absolute;
    background-color: white;
    padding: 2px;
    margin: 2px;
    border: 1px solid #40CAFC;
}

#spinner {
    width: 16px;
    height: 16px;
    background: url("../images/ajax-loader.gif") no-repeat;
}

#content {
    background: url("../images/grid2009.gif") no-repeat;
    width: 1730px;
    height: 469px;
}

.mini_text {
    font-size: 10px;
}

/** TAGS **/
#tags {
    position: absolute; width: 110px; left: 391px; top: 50px;
    text-align: left; font-size: 10px;
}

#tags li {display: block; width: 100%; overflow: hidden; margin: 4px 0;}
#tags li .tag {display: block; float: left; width: 90px;}
#tags li label {
    display: block; float: left; width: 10px; height: 10px;
    overflow: hidden; text-indent: -1000px; font-size: 0px;
          border: 1px solid gray;}