<% content_for :header do %>
  <script type="text/javascript">
    (function($) {
      var scrollTime = 0;
      var scrollSize = 3000;

      $(function() {
        if (scrollTime == 0) {
          $("#wrapper").attr('scrollLeft', scrollSize);
        } else {
          $("#wrapper").animate({
            scrollLeft: scrollSize
          }, scrollTime, "swing", function() {});
        }
      });
    })(jQuery);
  </script>
<% end %>

<% title('actual') %>

<div id="wrapper">
  <div id="time-panel" style="width: <%= @actual.width %>px;">
    <div class="line">
      <% @actual.news.each do |slide| %>
        <%= render :partial => 'actual', :object => slide %>
      <% end %>
    </div>
  </div>
</div>