<div id="wrapper">
  <div id="time-panel" style="width: <%= @selection.width %>px;">
    <div class="line">
      <% @selection.top.each do |slide| %>
        <%= render :partial => 'selected', :object => slide %>
      <% end %>
    </div>
    <div class="line">
      <% @selection.bottom.each do |slide| %>
        <%= render :partial => 'selected', :object => slide %>
      <% end %>
    </div>
  </div>
</div>