<div class="mini_slide" style="border-color: #<%= @slide.card.color.value %>;">
<div class="mini_image"><%= image_tag(@slide.image.public_filename(:thumb), :id => 'preview_image') %></div>
<% if !@slide.text.nil? && @slide.text.length > 0 %>
<div class="mini_text" style="color: #<%= @slide.card.color.value %>;"><%= truncate textilize(@slide.text.strip), 150 %></div>
<% end -%>
</div>
