<%= title t(:title, :card => @selection.card.title) %>


<div class="actions">
  <%= link_to 'Ver su ficha', @selection.card %>
  <%= link_to 'Quitar esta ficha de la selección', @selection, :id => "remove_from_selection" %>
</div>
<%= render 'form' %>